<nav class="bg-blue-200 py-4">
    <div class="container flex mx-auto justify-between px-4">
        <h1 class="font-pacifico text-3xl">Sy_codes</h1>
        <div class="">
            <ul class="flex space-x-7 font-bold text-lg text-black-200 drop-shadow-sm">
                <li><a href="/todo/new">ADD</a></li>
                <li><a href="#">EDIT</a></li>
                <li><a href="#">UPDATE</a></li>
            </ul>
        </div>
    </div>
</nav>