<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Pacifico&display=swap"
        rel="stylesheet">
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    fontFamily: {
                        pacifico: ['"Pacifico"', 'cursive'],
                    }
                }
            }
        }
    </script>
    <title>Index Page</title>
</head>

<body>
    <nav class="bg-blue-200 py-4">
        <div class="container flex mx-auto justify-between px-4">
            <h1 class="font-pacifico text-3xl">Sy_codes</h1>
            <div class="">
                <ul class="flex space-x-7 font-bold text-lg text-black-200 drop-shadow-sm">
                    <li><a href="#">ADD</a></li>
                    <li><a href="#">EDIT</a></li>
                    <li><a href="#">UPDATE</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section id="banner">
        <div class="container">
            <ul class="flex flex-col justify-center text-center py-6 mx-auto leading-10 font-bold">
                <% for(let i = 0; i < allTasks.length; i++){%>
                    <li><a class = "hover:bg-blue-200 hover:text-white  hover:font-bold hover:py-2 hover:mx-4 "href="/todo/<%= i; %>"><%= allTasks[i].comments %></a></li>
                    <%} %>
            </ul>
        </div>
    </section>
</body>

</html>