<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Pacifico&display=swap"
            rel="stylesheet">
        <script src="https://cdn.tailwindcss.com"></script>
        <script>
            tailwind.config = {
                theme: {
                    extend: {
                        fontFamily: {
                            pacifico: ['"Pacifico"', 'cursive'],
                        }
                    }
                }
            }
        </script>
        <title>CREATE Page</title>
    </head>
<body>
    <%- include('./partials/nav.ejs') %>
    <form action="/todo" method="post">
        TASK: <input type="text" name="comments" id=""><br><br>
        START-TIME: <input class="shadow-lg " type="text" name="startTime" id=""><br><br>
        END-TIME: <input type="text" name="endTime" id=""> <br> <br>
        <input type="submit" value="CREATE">

    </form>
    
</body>
</html>